## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [2]:
#Check which variable to use as merging id
mouse_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mouse ID      249 non-null    object
 1   Drug Regimen  249 non-null    object
 2   Sex           249 non-null    object
 3   Age_months    249 non-null    int64
 4   Weight (g)    249 non-null    int64
dtypes: int64(2), object(3)
memory usage: 9.9+ KB

In [3]:
#Check which variable to use as merging id
study_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Mouse ID             1893 non-null   object
 1   Timepoint            1893 non-null   int64
 2   Tumour Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites     1893 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 59.3+ KB

In [4]:
# Combine the data into a single dataset

mouse_data_complete = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID"])

# Display the data table for preview

mouse_data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [5]:
mouse_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Mouse ID             1893 non-null   object
 1   Drug Regimen         1893 non-null   object
 2   Sex                  1893 non-null   object
 3   Age_months           1893 non-null   int64
 4   Weight (g)           1893 non-null   int64
 5   Timepoint            1893 non-null   int64
 6   Tumour Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites     1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 133.1+ KB

In [6]:
# Code below returns all Mouse IDs including repeats/duplicates
count_mice = mouse_data_complete["Mouse ID"].value_counts().sum()
count_mice

1893

In [7]:
# Code below produces count of unique IDs to obtain exact number of mice.
unique_mice = mouse_data_complete["Mouse ID"].nunique()
unique_mice

249

In [8]:
# Check specific unique Mouse ID
ID_unique = mouse_data_complete["Mouse ID"].unique()
ID_unique

array(['k403', 's185', 'x401', 'm601', 'g791', 's508', 'f966', 'm546',
       'z578', 'j913', 'u364', 'n364', 'y793', 'r554', 'm957', 'c758',
       't565', 'a644', 'i177', 'j989', 'i738', 'a520', 'w914', 'r811',
       'g288', 'i334', 'q610', 'd251', 'l897', 'c458', 'b742', 'b128',
       'j246', 'a411', 'j119', 'w150', 'v923', 'g316', 's710', 'l509',
       'r944', 'e662', 'u196', 'q597', 'a444', 'i557', 'r921', 'w678',
       'y449', 'a203', 'a251', 'a262', 'a275', 'a366', 'a401', 'a457',
       'a492', 'a577', 'a685', 'a699', 'a788', 'a818', 'a897', 'a963',
       'b313', 'b447', 'b487', 'b559', 'b759', 'b879', 'c139', 'c264',
       'c282', 'c302', 'c326', 'c402', 'c559', 'c580', 'c757', 'c766',
       'c819', 'c832', 'c895', 'c927', 'd133', 'd164', 'd474', 'e213',
       'e227', 'e291', 'e476', 'e584', 'f129', 'f234', 'f278', 'f345',
       'f394', 'f436', 'f545', 'f932', 'f993', 'g107', 'g296', 'g497',
       'g558', 'g570', 'g867', 'g989', 'h246', 'h333', 'h428', 'h531',
       'i386', 'i477', 'i635', 'i669', 'i901', 'j235', 'j296', 'j365',
       'j755', 'j984', 'k210', 'k382', 'k483', 'k510', 'k603', 'k754',
       'k804', 'k862', 'k894', 'l215', 'l264', 'l471', 'l490', 'l558',
       'l661', 'l700', 'l725', 'l733', 'l872', 'm133', 'm269', 'm331',
       'm550', 'm650', 'm756', 'n304', 'n482', 'n630', 'n671', 'n678',
       'n763', 'n923', 'n967', 'o287', 'o302', 'o331', 'o523', 'o562',
       'o725', 'o795', 'o809', 'o813', 'o848', 'o926', 'o973', 'p136',
       'p189', 'p310', 'p387', 'p438', 'p981', 'q119', 'q132', 'q483',
       'q511', 'q582', 'q633', 'q787', 'r107', 'r157', 'r604', 'r701',
       'r850', 's121', 's141', 's152', 's166', 's187', 's337', 's565',
       's619', 't198', 't451', 't573', 't718', 't724', 't994', 'u149',
       'u153', 'u327', 'u946', 'v199', 'v289', 'v295', 'v339', 'v409',
       'v603', 'v719', 'v764', 'v766', 'v835', 'v989', 'v991', 'w140',
       'w151', 'w167', 'w193', 'w350', 'w422', 'w540', 'w575', 'w584',
       'w697', 'w746', 'x111', 'x209', 'x226', 'x264', 'x336', 'x402',
       'x581', 'x613', 'x773', 'x822', 'x930', 'y163', 'y260', 'y478',
       'y601', 'y769', 'y865', 'z234', 'z314', 'z435', 'z581', 'z795',
       'z969'], dtype=object)

In [9]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

# Below code checks how many duplicated mice are in dataframe
duplicate_mice_count = len(mouse_data_complete[mouse_data_complete.duplicated(['Mouse ID','Timepoint'])])
duplicate_mice_count

5

In [10]:
duplicate_mice_find = mouse_data_complete.loc[mouse_data_complete.duplicated(['Mouse ID','Timepoint'])]
duplicate_mice_find

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [11]:
# Optional: Get all the data for the duplicate mouse ID. 

duplicate_mice = mouse_data_complete[mouse_data_complete.duplicated(['Mouse ID','Timepoint'])]
duplicate_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [12]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

mouse_data_clean = mouse_data_complete.drop_duplicates(subset=['Mouse ID','Timepoint'],keep='first')
mouse_data_clean

# 5 duplicate rows dropped

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [13]:
#Check if there are any duplicates left
duplicate_mice_count2 = len(mouse_data_clean[mouse_data_clean.duplicated(['Mouse ID','Timepoint'])])
duplicate_mice_count2

0

In [14]:
# Checking the number of mice in the clean DataFrame.
unique_mice_clean = mouse_data_clean["Mouse ID"].nunique()
unique_mice_clean

##Number of mice remain the same after checking unique id.

249

## Summary Statistics

In [15]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumour volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 

# mean, median, variance, standard deviation, and SEM of the tumour volume. 
# Assemble the resulting series into a single summary dataframe.

## working dataframe: mouse_data_clean

In [16]:
mouse_drugregimen = mouse_data_clean.groupby[('Drug Regiment')].mean()
mouse_drugregimen.head()

TypeError: 'method' object is not subscriptable

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumour volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumour volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumour vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumour volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumour volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumour volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumour volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumour volume for the Capomulin regimen